<div class="left-container">
<!--  UpperContainer-->
  <div class="upper-container">
    <h4>
      Gin<span>I</span> ap<span>P</span>
    </h4>
    <ul class="left-links">
      <li>
        <div class="link">
          <fa-icon [icon]="['fas','house']"></fa-icon>
          <a>Home</a>
        </div>
      </li>
      <li>
        <div class="link">
          <fa-icon [icon]="['fas','folder']"></fa-icon>
          <a>My Folders</a>
        </div>
      </li>
      <li>
        <div class="link delete">
          <fa-icon [icon]="['fas','trash-can']"></fa-icon>
          <a>Delete Folder</a>
        </div>
      </li>
      <li>
        <div class="link">
          <fa-icon [icon]="['fas','user']"></fa-icon>
          <a>Profile</a>
        </div>
      </li>
      <li class="just-white-space">

      </li>
    </ul>
  </div>
<!-- BottomContainer-->
  <div class="btn-container">
    <fa-icon [icon]="['fas','folder-plus']"></fa-icon>
    <button class="crete-folder-btn">Create Folder</button>
  </div>
</div>
