.start-footer {
  align-self: flex-end;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
}

.start-footer {
  align-self: flex-end;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
}

.start-footer {
  color: var(--white-color);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gini {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.gini span {
  font-size: 2rem;
}

.gini .linkedin {
  color: var(--blue-color);
}

.gini h4 span {
  color: var(--orange-color);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.text {
  padding: 0 1rem;
  font-size: 1.6rem;
}

mat-icon {
  margin: 0.2rem;
}

mat-icon:hover {
  cursor: pointer;
}

.icons .springboot {
  color: var(--green-color);
}

.icons .spring {
  color: var(--green-color);
}

.icons .angular {
  color: var(--red-color);
}

.icons .html5 {
  color: var(--orange-color);
}

.icons .css3 {
  color: var(--blue-dark-color);
}

.icons .mysql {
  color: var(--blue-color);
}
