<div class="delete-container">
    <fa-icon [icon]="['fas','circle-xmark']" class="x-icon"></fa-icon>
    <div class="center-container">
        <div class="delete-text">
            <div class="trash">
                <fa-icon [icon]="['fas','trash-can']" class="trash-can-1"></fa-icon>
            </div>
            <h3>Are you sure you want to delete </h3>
            <h3>this folder and all it's content ?</h3>
            <p class="folder-name">delete folder name</p>
        </div>

        <div class="btn-container">
            <div class="cancel-btn-container">
                <fa-icon [icon]="['fas','xmark']" class="x-icon-2"></fa-icon>
                <button class="btn cancel-btn"><p>Cancel</p></button>
            </div>
            <div class="delete-btn-container">
                <button class="btn delete-btn"><p>Delete</p></button>
                <fa-icon [icon]="['fas','trash-can']" class="trash-can-2"></fa-icon>
            </div>
        </div>
    </div>
</div>
