<div class="center-container">
  <div class="search-bar">
    <fa-icon [icon]="['fas','magnifying-glass']"></fa-icon>
    <input type="text" placeholder="Search">
  </div>

  <!--    3 folders up--------------------------->
  <div class="recently-used">
    <h4>Recently Used</h4>
    <div class="recent-folders">
      <div class="project-1">
        <div class="wrapper">
          <fa-icon [icon]="['fas','folder']"></fa-icon>
          <div class="project-name">
            <p>Project: Bau bau</p>
          </div>
          <div class="author">
            Author: Fanel
          </div>
          <div class="created">
            <p>Created: 15.03.2021</p>
          </div>
        </div>

      </div>
      <div class="project-1">
        <div class="wrapper">
          <fa-icon [icon]="['fas','folder']"></fa-icon>
          <div class="project-name">
            <p>Project: hau hau</p>
          </div>
          <div class="author">
            Author: Gigel
          </div>
          <div>
            <p class="created">Created: 15.03.2021</p>
        </div>
        </div>
      </div>
      <div class="project-1">
        <div class="wrapper">
          <fa-icon [icon]="['fas','folder']"></fa-icon>
          <div class="project-name">
            <p>Project: mada mda</p>
          </div>
          <div class="author">
            Author: Ionel
          </div>
          <div>
            <p class="created">Created: 15.03.2021</p>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!----------------FOLDER CONTAINER--------------------------------->
  <div class="folders-container">
    <div class="table-header">
      <ul>
        <li>
          <p>File Name</p>
          <fa-icon [icon]="['fas','arrow-down']"></fa-icon>
        </li>
        <li>Date</li>
        <li>Update Date</li>
        <li>Owner</li>
        <li>Actions</li>
      </ul>
    </div>

    <div class="table body">
      <ul>
        <li>
          <div>
            <fa-icon [icon]="['fas','image']"></fa-icon>
            <p>Project Name</p>
          </div>
        </li>
        <li class="date-created">
          <p>20.03.2021</p>
          <p>by Ginitoru</p>
        </li>
        <li class="date-updated">
          <p>25.3.2021</p>
          <p>by Faraonu</p>
        </li>
        <li class="owner">
          <fa-icon [icon]="['fas','user']"></fa-icon>
          <p>Ginitoru</p>
        </li>
        <li>
          <fa-icon [icon]="['fas','ellipsis']"></fa-icon>
        </li>
      </ul>
    </div>

    <div class="page-number">
      <fa-icon [icon]="['fas','angle-left']"></fa-icon>
        <p>5.6.7<fa-icon [icon]="['fas','ellipsis']"></fa-icon></p>
      <fa-icon [icon]="['fas','angle-right']"></fa-icon>
    </div>

  </div>

  <div class="btn-dont-know">
    <button>Just a butt
    </button>
  </div>
</div>
