<div class="start-container">
  <div class="navbar">
    <ul>
      <li class="nav-item">
        <a class="start-link">Login</a>
        <a class="start-link">Create user</a>
      </li>
    </ul>
  </div>
  <div class="start-footer">
    <h4>Gini</h4>
    <div class="icons">
      <p>icon1</p>
      <p>icon2</p>
      <p>icon3</p>
      <mat-icon svgIcon="springboot" style="color: greenyellow" class="x"></mat-icon>
      <mat-icon svgIcon="spring" style="color: greenyellow" class="x"></mat-icon>
      <mat-icon svgIcon="angular" style="color: red" class="x v"></mat-icon>
      <mat-icon svgIcon="html5" style="color: orange" class="x"></mat-icon>
      <mat-icon svgIcon="css3" style="color: blue" class="x"></mat-icon>
      <mat-icon svgIcon="mysql" style="color: cadetblue" class="x y"></mat-icon>

      <p>icon3</p>
    </div>
  </div>
</div>

