<div class="start-container">
  <div class="navbar">
    <ul class="nav-item">
      <li>
        <a class="start-link">Login</a>
      </li>
      <li>
        <a class="start-link">Create user</a>
      </li>
    </ul>
  </div>
  <div class="start-footer">
    <div class="empty-space"></div>
    <div class="gini">
      <h4>Ginitoru <span class="trade">&trade;</span></h4>
      <div (click)="redirect($event)">
        <mat-icon svgIcon="linkedin" class="linkedin"></mat-icon>
        <mat-icon svgIcon="github" class="github"></mat-icon>
      </div>
    </div>

    <div class="icons" (click)="redirect($event)">
      <div class="text">
        <p>powered by</p>
      </div>
      <mat-icon svgIcon="springboot" class="springboot"></mat-icon>
      <mat-icon svgIcon="spring" class="spring"></mat-icon>
      <mat-icon svgIcon="angular" class="angular"></mat-icon>
      <mat-icon svgIcon="html5" class="html5"></mat-icon>
      <mat-icon svgIcon="css3" class="css3"></mat-icon>
      <mat-icon svgIcon="mysql" class="mysql"></mat-icon>
    </div>
  </div>
</div>

