<div class="pictures-container">
        <div class="pictures-wrapper">
            <div class="picture-1" *ngFor="let file of fileImg">
                <img [src]="file" class="file-img" (click)="enlargeImage(file)">
            </div>
        </div>
    <div class="paginator">
        <app-paginator></app-paginator>
    </div>
    <div class="wrapper">
        <div class="prepare-upload-file-container">
            <ng-container *ngFor="let file of image.imageFile; let i = index">
                <div class="upload-file"
                     (click)="removeImage(i)"
                     (mouseover)="onMouseOver()" [ngStyle] = "{'cursor': mouseCursor}"
                     *ngIf="i <= 24"
                >
                    <img  *ngIf="i <= 24" [src]="file.url" alt="">
                </div>
            </ng-container>

        </div>
    </div>

    <div class="upload-container">
        <div class="text-1">
            <h4>Import new files</h4>
            <div class="text-2"></div>
            <p>Drag and drop files here</p>
        </div>

        <div class="upload-area"  appDragdrop (images)="dragDropFileSelected($event)">
            <div class="upload-icon-text">
                <fa-icon [icon]="['fas','cloud-arrow-down']"></fa-icon>
                <p>Upload <span (click)="selectFile.click()" class="browse-files">files</span></p>
                <!--        multiple -> means that we can select multiple files at once-->
                <input type="file" multiple value="select" #selectFile class="file-input"
                       (change)="onFileSelected($event)"
                >
                <div class="last-text">
                    <p *ngIf="nrOfFiles" >{{nrOfFiles}} files uploaded</p>
                </div>

            </div>
        </div>
        <button (click)="addImage()" class="upload-btn">Upload files</button>
    </div>

</div>
