<div class="right-container">
  <div class="user-container">
    <fa-icon [icon]="['fas','gear']"></fa-icon>
    <div class="user-settings">
      <p>username</p>
      <div class="user-icon"></div>
    </div>
  </div>

  <div class="folder-info-container">
    <h4 class="storage">Storage</h4>
    <div class="storage-volume">
      <div class="wrapper-circle"></div>
      <div class="circle">
      <p class="percent">75<span>%</span></p>
      <p class="used">Used</p>
      </div>
      <p class="gb">1.5 GB of 2 GB used</p>
    </div>


    <div class="info-about-folder">
      <div class="storage-info">
        <div class="left-f-info">
          <fa-icon [icon]="['fas','file']"></fa-icon>
          <div>
            <p>Documents</p>
            <p>150 files</p>
          </div>
        </div>
        <div class="right-f-info">
          <p>120GB</p>
        </div>
      </div>

      <div class="storage-info">
        <div class="left-f-info">
          <fa-icon [icon]="['fas','file']"></fa-icon>
          <div>
            <p>Images</p>
            <p>130 files</p>
          </div>
        </div>
        <div class="right-f-info">
          <p>20GB</p>
        </div>
      </div>

      <div class="storage-info">
        <div class="left-f-info">
          <fa-icon [icon]="['fas','file']"></fa-icon>
          <div>
            <p>Video</p>
            <p>150 files</p>
          </div>
        </div>
        <div class="right-f-info">
          <p>150GB</p>
        </div>
      </div>

      <div class="storage-info">
        <div class="left-f-info">
          <fa-icon [icon]="['fas','file']"></fa-icon>
          <div>
            <p>Others</p>
            <p>0 files</p>
          </div>
        </div>
        <div class="upload-container">
          <div class="text-1">
            <h4>Import new files</h4>
            <div class="text-2"></div>
            <p>Upload new files here</p>
            <p>Drag and drop files here and</p>
            <p>assign to right folder</p>
          </div>
          <fa-icon [icon]="['fas','cloud-arrow-down']"></fa-icon>
          <div class="upload-area"></div>
        </div>
      </div>
    </div>
  </div>
</div>
