<div class="right-container">
  <div class="user-container">
    <p>username</p>
    <fa-icon [icon]="['fas','user']"></fa-icon>
  </div>
  <div class="folder-info-container">
    <h4 class="storage">Storage</h4>
    <div class="storage-volume">
      <h4>75%</h4>
      <p>1.5 GB of 2 GB used</p>
    </div>


    <div class="info-about-folder">
      <div class="storage-info">
        <div class="left-f-info">
          <fa-icon [icon]="['fas','file']"></fa-icon>
          <div>
            <p>Documents</p>
            <p>150 files</p>
          </div>
        </div>
        <div class="right-f-info">
          <p>120GB</p>
        </div>
      </div>

      <div class="storage-info">
        <div class="left-f-info">
          <fa-icon [icon]="['fas','file']"></fa-icon>
          <div>
            <p>Images</p>
            <p>130 files</p>
          </div>
        </div>
        <div class="right-f-info">
          <p>20GB</p>
        </div>
      </div>

      <div class="storage-info">
        <div class="left-f-info">
          <fa-icon [icon]="['fas','file']"></fa-icon>
          <div>
            <p>Video</p>
            <p>150 files</p>
          </div>
        </div>
        <div class="right-f-info">
          <p>150GB</p>
        </div>
      </div>

      <div class="storage-info">
        <div class="left-f-info">
          <fa-icon [icon]="['fas','file']"></fa-icon>
          <div>
            <p>Others</p>
            <p>0 files</p>
          </div>
        </div>
        <div class="right-f-info">
          <p>0GB</p>
        </div>
      </div>
    </div>
  </div>
</div>
