.right-container{
  border-radius: 0 3rem 3rem 0;
  background: #ebedf8;
  max-height: 90rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-container{
  display: flex;
  justify-content: space-between;
  padding: 4rem 3rem 2rem 2rem;
  align-items: center;
  border-bottom: 1px solid var(--white-gray-color);
}

.user-container fa-icon{
  font-size: 1.5rem;

  color: var(--red-color);
}

.user-icon{
  width: 4rem;
  height: 4rem;
  background: var(--orange-color);
  border-radius: 2rem;

}

.user-settings{
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.3rem;
  color: var(--dark-gray-color);
  font-weight: 500;
}

.folder-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray-color);
  height: 100%;
}

.folder-info-container h4:nth-child(1) {
  align-self: flex-start;
  margin-left: 3rem;
  font-size: 1.8rem;
}

.circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  background: var(--white-color);
  border-radius: 10rem;
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem 0 1rem 0;
  border: 0.5rem solid var(--green-color);
}

.circle p {
  display: flex;
  align-items: center;
}

.circle span {
  font-size: 2rem;
  margin-left: 0.3rem;
  color: #f39c12;
}

.used{
  font-size: 1.5rem;
  color: #6b7885;
}

.gb {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #6b7885;
}

.info-about-folder{
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
}

.storage-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--white-gray-color);
}

.left-f-info {
  display: flex;
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
}

.icon-background{
  position: relative;
  width: 3rem;
  height: 3rem;
  background: var(--blue-color);
  border: 1px solid var(--blue-color);
  border-radius: 1rem;
  margin-right: 1rem;
}

.icon-background fa-icon {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-f-info p:nth-child(2){
  font-size: 1.1rem;
  font-weight: 300;
  color: #6b7885;
}
.right-f-info{
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.3rem 0.6rem;
  background: var(--white-color);
  border-radius: 0.4rem;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  height: 100%;
}

.upload-container h4 {
  margin: 0 0 1rem 0 !important;
}

.upload-area {
  max-width: 30rem;
  width: 100%;
  height: 10rem;
  margin: 1rem 2rem;
  position: relative;
  border: 1px solid #f39c12;
  color: var(--red-color);
  border-radius: 1rem;
  background: var(--white-color);
  margin-top: 2rem;
}

.upload-icon-text {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.upload-icon-text p{
  font-size: 1.3rem;
}




