.right-container{
  border-radius: 0 3rem 3rem 0;
  background: #ebedf8;
  max-height: 90rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-container{
  display: flex;
  justify-content: space-between;
  padding: 4rem 3rem 2rem 2rem;
  align-items: center;
  border-bottom: 1px solid var(--white-gray-color);
}

.user-container fa-icon{
  font-size: 1.5rem;

  color: var(--red-color);
}

.user-icon{
  width: 4rem;
  height: 4rem;
  background: var(--orange-color);
  border-radius: 2rem;

}

.user-settings{
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.3rem;
  color: var(--dark-gray-color);
  font-weight: 500;
}

.folder-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-gray-color);
}

.folder-info-container h4 {
  align-self: flex-start;
  margin-left: 3rem;
  font-size: 1.8rem;
}

.circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  background: var(--white-color);
  border-radius: 10rem;
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem 0 1rem 0;
  border: 0.5rem solid var(--green-color);
}

.circle p {
  display: flex;
  align-items: center;
}

.circle span {
  font-size: 2rem;
  margin-left: 0.3rem;
  color: #f39c12;
}

.used{
  font-size: 1.5rem;
  color: #6b7885;
}

.gb {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #6b7885;;
}



