.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.login {
  display: flex;
  align-self: flex-end;
  margin: 1rem 1rem 0 0;
}

.login p {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  align-self: center;
}

.login-button {
  padding: 0.5rem 1rem;
  border: 2px solid var(--dark-gray-color);
  border-radius: 0.3rem;
  font-weight: bold;
  color: var(--dark-gray-color);
  background: var(--white-color);
  transition: all 0.2s ease-in-out;
}

.login-button:hover {
  cursor: pointer;
  color: var(--white-color);
  background: var(--dark-gray-color);
}

.text h4 {
  color: var(--dark-gray-color);
  font-size: 2rem;
  text-align: center;
}

.text p {
  margin-top: 2rem;
  font-size: 1.6rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

label, input {
  display: inline-block;
}

.input-field {
  position: relative;
  width: 30rem;
}

.input-field input {
  max-width: 30rem;
  width: 100%;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 0.3rem;
  outline: none;
  border: 2px solid var(--white-gray-color);
}

.floating-label {
  color: rgb(47, 46, 46, 0.7);
  position: absolute;
  left: 10px;
  top: 8px;
  pointer-events: none;
  transition: 0.3s;
  font-size: 1.4rem;
}

input:focus ~ label,
  /*dont forget to add to the input field the -> required validator -> for this to work*/
input:valid ~ label {
  top: -10px;
  left: 15px;
  font-size: 1.4rem;
  background-color: var(--white-color);
  padding: 0 10px 0 10px;
  color: var(--dark-gray-color);
}

.form-container button {
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.6rem;
  max-width: 30rem;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 10rem;
  color: #fbfcfc;
  background:  #17202a ;
  border: 4px solid var(--black-color);
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.form-container button:hover {
  cursor: pointer;
  border: 4px solid var(--black-color);
  color: var(--green-color);
}
