<div class="right-container">
  <div class="login">
    <p>Already have an account?</p>
    <button class="login-button" (click)="toLoginPage()">Log in</button>
  </div>
  <div class="text">
    <h4>SuperginiPictureApp</h4>
    <p>pictures upload-download-app</p>
  </div>
  <form class="form-container" [formGroup]="signupForm">
    <div class="input-field">

      <input type="text" required formControlName="username">
      <label class="floating-label">username</label>
    </div>
    <div class="input-field">
      <input type="text" required formControlName="email">
      <label class="floating-label">email</label>
    </div>
    <div class="input-field">
      <input type="password" required formControlName="password">
      <label class="floating-label">password</label>
      <p *ngIf="errorMessage">{{errorMessage}}</p>

    </div>
    <button type="submit" (click)="onSubmit()">Create account</button>
  </form>
</div>
